<!doctype html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
    <head>
        <title>Custom Item</title>
    </head>
    <body>
        <section>
            <h1 class="custom-item-title">Custom Items</h1>
            <form th:action="${'/custom/save'}" method="POST">
                <button type="submit" class="btn btn-success">
                    Save
                </button>
            </form>
            <a class="btn btn-primary" role="button" th:href="${'/custom/new'}">Create New Item</a>
            <ul class="custom-item">
                <div class="container">
                    <li class="custom-item-list" th:each="custom,iter: ${items}">
                        <div class="row row-cols-1">
                            <div class="card" style="width: 18rem">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${custom.name}"></h5>
                                    <p class="card-text" th:text="'$' + ${custom.price} + '&nbsp &nbsp &nbsp &nbsp &nbsp' + ${custom.calories} + ' calories'"></p>
                                    <a th:href="${'/custom/' + iter.index}">Details</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </section>
    </body>
</html>